body {
  font-family: Arial, sans-serif;
}

.jogo {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}

.Quadrante {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.Quadrante img {
  max-width: 80%;
  max-height: 80%;
}

.Quadrante.ocupado {
  pointer-events: none;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #b30000;
}
